<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Shopping Cart</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>ProductName</th>
        <th>Id</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>change amount</th>
        <th>remove product</th>
      </tr>
      <tr *ngFor="let product of cartProducts; let key = index">
        <td>{{product.name}}</td>
        <td>{{product.productId}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.retailPrice}}</td>
        <td>{{inputValues[key]}}
          <app-update [(value)] = "inputValues[key]"></app-update>
          <button class="btn btn-primary" (click)="changeAmount(product, inputValues[key])">change amount</button>
        </td>
        <td><button class="btn btn-primary" (click)="removeProduct(product)">remove product</button></td>
      </tr>
      <button class="btn btn-primary" (click)="placeOrder()">place order</button>
    </table>
    <p>
      total price: {{totalPrice}}
    </p>
  </div>
</div>


