<p>products works!</p>
<h1>On Sale Products</h1>
<table>
  <tr>
    <th>Product Name</th>
    <th>price</th>
  </tr>
  <tr>
  <tr *ngFor="let product of allProducts; let key = index">
    <td>
      {{product.name}}
    </td>
    <td>{{product.retailPrice}}</td>
    <button routerLink="/product/{{product.productId}}">View</button>

    select amount {{inputValues[key]}}
    <app-update [(value)] = "inputValues[key]"></app-update>
    <button (click)="addToCart(product, inputValues[key])">Add to Cart</button>
    <button (click)="addToWishList(product)">Add to Wish List</button>
  </tr>
</table>
