<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>On Sale Products</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>Product Name</th>
        <th>price</th>
        <th>view</th>
        <th>select amount</th>
        <th>add to cart</th>
        <th>add to watchlist</th>
      </tr>
      <tr>
      <tr *ngFor="let product of allProducts; let key = index">
        <td>
          {{product.name}}
        </td>
        <td>{{product.retailPrice}}</td>
        <td><button class="btn btn-primary" routerLink="/product/{{product.productId}}">View</button></td>
        <td>{{inputValues[key]}}
          <app-update [(value)] = "inputValues[key]"></app-update>
        </td>
        <td><button class="btn btn-primary" (click)="addToCart(product, inputValues[key])">Add to Cart</button>
        </td>
        <td><button class="btn btn-primary" (click)="addToWishList(product)">Add to Watch List</button></td>

      </tr>
    </table>
  </div>
</div>
