<p>admin-order-detail works!</p>
<p>OrderId :{{order.orderId}}</p>
<p>datePlaced : {{order.datePlaced}}</p>
<p>orderStatus : {{order.orderStatus}}</p>
<table>
  <tr>
    <th>ItemId</th>
    <th>ProductName</th>
    <th>quantity</th>
    <th>purchasedPrice</th>
    <th>wholesalePrice</th>
    <th>orderId</th>
  </tr>
  <tr *ngFor="let item of items; let key = index">
    <td>{{item.itemId}}</td>
    <td>{{products[key].name}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.purchasedPrice}}</td>
    <td>{{item.wholesalePrice}}</td>
    <td>{{item.orderId}}</td>
    <button routerLink="/adminProduct/{{products[key].productId}}">View Product</button>

  </tr>
</table>
