<h1>User Home Page</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">History Orders</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>OrderId</th>
        <th>datePlaced</th>
        <th>orderStatus</th>
        <th>actions</th>
      </tr>
      <tr>
      <tr *ngFor="let order of orders">
        <td>
          {{order.orderId}}
        </td>
        <td>{{order.datePlaced}}</td>
        <td>{{order.orderStatus}}</td>
        <td>
          <button class="btn btn-primary" routerLink="/orders/{{order.orderId}}">View</button>
          <button class="btn btn-danger" (click)="cancel(order.orderId)">cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Recent top3 Purchased products</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      <tr>
      <tr *ngFor="let product of recentProducts">
        <td>
          {{product.productName}}
        </td>
        <td>{{product.description}}</td>
        <td>{{product.datePurchased}}</td>
      <button class="btn btn-primary" routerLink="/product/{{product.productId}}">View</button>
      </tr>
    </table>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Frequent top3 Purchased products</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>quantitiy</th>
      </tr>
      <tr>
      <tr *ngFor="let product of frequentProducts">
        <td>
          {{product.productName}}
        </td>
        <td>{{product.description}}</td>
        <td>{{product.frequency}}</td>
      <button class="btn btn-primary"  routerLink="/product/{{product.productId}}">View</button>
      </tr>
    </table>
  </div>
</div>
